.bgFooter {
  background-image: linear-gradient(lightblue, black); }

main {
  background-image: radial-gradient(white, lightblue); }

.navColor {
  color: white; }

.txtColor {
  color: white; }

.insta {
  border: 4px solid lightcoral;
  border-radius: 25px;
  opacity: 0.6;
  transition: opacity 2s; }

.insta:hover {
  opacity: 1; }

.twitter {
  border: 4px solid lightblue;
  border-radius: 25px;
  opacity: 0.6;
  transition: opacity 2s; }

.twitter:hover {
  opacity: 1; }

.wsp {
  border: 4px solid lightgreen;
  border-radius: 25px;
  opacity: 0.6;
  transition: opacity 2s; }

.wsp:hover {
  opacity: 1; }

.logoRrss {
  display: flex;
  justify-content: space-evenly; }

.centrarImg {
  display: flex;
  justify-content: center; }

.achicarWeb {
  width: -webkit-fill-available; }

body {
  overflow-x: hidden; }

.anima {
  padding-left: 10px;
  transition: 2s; }
  .anima:hover {
    padding-left: 40px; }

.instaFrame {
  padding-right: 50px; }

.padCero {
  padding: 0px; }

.padQuince, .padAcord, .padRece, .padReceB, .margintable, .marginlist {
  padding-left: 40px;
  padding-right: 40px; }

.padAcord {
  padding-bottom: 30px; }

.padRece {
  padding-top: 40px; }

.padReceB {
  padding-top: 85px; }

.margintable {
  margin-top: 90px; }

.marginlist {
  margin-top: 40px; }

.ochenta {
  width: 80%; }

.centrarTxt {
  text-align: center; }

.flexIzq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }

@media only screen and (max-width: 768px) {
  .centrar {
    text-align: center; }
  p {
    text-align: center; }
  .seguinos {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%; }
  .achicarWeb {
    width: -webkit-fill-available; }
  .padAcord {
    padding-left: 20px;
    padding-right: 20px; }
  .logoRrss {
    padding-bottom: 5%; }
  .table {
    font-size: 0.9rem; }
  .recetario {
    padding-right: 50px;
    padding-left: 25px; }
  .flexIzq {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .instaFrame {
    width: -webkit-fill-available;
    margin-left: 25px;
    margin-right: 10px;
    padding-right: 20px; } }

.gridRece {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "log nava nava" "txtre txtre txtre" "rece1 rece1 fijo" "rece2 rece2 fijo" "footere footere footere"; }

.log {
  grid-area: log; }

.nava {
  grid-area: nava; }

.txtre {
  grid-area: txtre; }

.rece1 {
  grid-area: rece1;
  text-align: left;
  padding-left: 10%; }

.rece2 {
  grid-area: rece2;
  text-align: left;
  padding-left: 10%; }

.fijo {
  grid-area: fijo; }

.footere {
  grid-area: footere;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

body {
  padding: 0px;
  margin: 0px; }
