.bgFooter {
  background-image: linear-gradient(lightblue, black); }

main {
  background-image: radial-gradient(white, lightblue); }

.navColor {
  color: white; }

.txtColor {
  color: white; }

.insta {
  border: 4px solid lightcoral;
  border-radius: 25px;
  opacity: 0.6;
  transition: opacity 2s; }

.insta:hover {
  opacity: 1; }

.twitter {
  border: 4px solid lightblue;
  border-radius: 25px;
  opacity: 0.6;
  transition: opacity 2s; }

.twitter:hover {
  opacity: 1; }

.wsp {
  border: 4px solid lightgreen;
  border-radius: 25px;
  opacity: 0.6;
  transition: opacity 2s; }

.wsp:hover {
  opacity: 1; }

.logoRrss {
  display: flex;
  justify-content: space-evenly; }

.centrarImg {
  display: flex;
  justify-content: center; }

.achicarWeb {
  width: -webkit-fill-available; }

body {
  overflow-x: hidden; }

.anima {
  padding-left: 10px;
  transition: 2s; }
  .anima:hover {
    padding-left: 40px; }

.anima1 {
  padding-left: 0px;
  transition: 2s; }

.anima1:hover {
  padding-left: 40px; }

.instaFrame {
  padding-right: 50px; }

.padCero {
  padding: 0px; }

.padQuince, .padAcord, .padRece, .padReceB, .margintable, .marginlist {
  padding-left: 40px;
  padding-right: 40px; }

.padAcord {
  padding-bottom: 30px; }

.padRece {
  padding-top: 20px; }

.padReceB {
  padding-top: 85px;
  padding-left: 0px;
  padding-bottom: 30px; }

.margintable {
  margin-top: 90px; }

.marginlist {
  margin-top: 40px; }

.recetario {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.pad9 {
  padding-right: 90px; }

.ochenta {
  width: 80%; }

.centrarTxt {
  text-align: center; }

.flexIzq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }

@media only screen and (max-width: 768px) {
  .centrar {
    text-align: center; }
  p {
    text-align: center; }
  .seguinos {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%; }
  .achicarWeb {
    width: -webkit-fill-available; }
  .padAcord {
    padding-left: 20px;
    padding-right: 20px; }
  .logoRrss {
    padding-bottom: 5%; }
  .table {
    font-size: 0.7rem; }
  .recetario {
    padding-right: 50px;
    padding-left: 25px; }
  .flexIzq {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .instaFrame {
    width: -webkit-fill-available;
    margin-left: 25px;
    margin-right: 10px;
    padding-right: 20px; } }

.gridRece {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "foo foo foo" "intro intro intro" "txtre txtre txtre" "rece1 rece2 rece2" "rece3 rece4 rece4" "footere footere footere"; }

.foo {
  grid-area: foo;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }

.intro {
  grid-area: intro; }

.txtre {
  grid-area: txtre; }

.rece1 {
  grid-area: rece1;
  text-align: left;
  padding-left: 10%; }

.rece2 {
  grid-area: rece2;
  text-align: left;
  padding-left: 10%; }

.rece3 {
  grid-area: rece3;
  text-align: left;
  padding-left: 10%; }

.rece4 {
  grid-area: rece4;
  text-align: left;
  padding-left: 10%; }

.footere {
  grid-area: footere;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.rrss {
  grid-area: rrss;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 450px; }

@media only screen and (max-width: 768px) {
  .gridRece {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "log" "foo" "intro" "txtre" "rece1" "rece2" "rece3" "rece4" "footere" "rrss"; }
  .foo {
    flex-direction: column; }
  .txtre {
    text-align: center;
    padding-left: 0px;
    margin: 15px; }
  .rece1 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .rece2 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .rece3 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .rece4 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .fijo {
    display: none; }
  .footere {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%; }
  .rrss {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%; }
  .padReceB {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px; } }

body {
  padding: 0px;
  margin: 0px; }
