.bgFooter{
    background-image: linear-gradient(lightblue,black);
}
main{
    background-image: radial-gradient(white,lightblue);}
.navColor{
    color:white;
    }
    .txtColor{
        color: white;
    }