.gridRece {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: 
  "foo foo foo"
 "intro intro intro"
 "txtre txtre txtre"
 "rece1 rece2 rece2"
 "rece3 rece4 rece4"
 "footere footere footere"; }
.foo{
  grid-area: foo;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
 }
.intro {
  grid-area: intro; }
.txtre {
  grid-area: txtre; }
.rece1 {
  grid-area: rece1;
  text-align: left;
  padding-left: 10%; }
.rece2 {
  grid-area: rece2;
  text-align: left;
  padding-left: 10%; }
.rece3 {
  grid-area: rece3;
  text-align: left;
  padding-left: 10%; }
.rece4 {
  grid-area: rece4;
  text-align: left;
  padding-left: 10%; }
.footere {
  grid-area: footere;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
.rrss {
  grid-area: rrss;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 450px; }

@media only screen and (max-width: 768px) {
  .gridRece {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
   "log"
   "foo"
   "intro"
   "txtre"
   "rece1"
   "rece2"
   "rece3"
   "rece4"
   "footere"
   "rrss"; }
  .foo {
    flex-direction: column; }
  .txtre {
    text-align: center;
    padding-left: 0px;
    margin: 15px; }
  .rece1 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .rece2 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .rece3 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .rece4 {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px; }
  .fijo {
    display: none; }
  .footere {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%; }
  .rrss {
    margin-top: 8px;
    margin-bottom: 8px; 
    width: 100%;} 
  .padReceB{
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  }
    