.logoRrss{
    display: flex;
    justify-content: space-evenly;
}
.centrarImg{
    display: flex;
    justify-content: center;
}
.achicarWeb{
    width: -webkit-fill-available;
}
body{
    overflow-x: hidden;
}