$centrar:center;
@media only screen and (max-width: 768px){
    .centrar{
        text-align: $centrar;
    
    }
    p{
    text-align: $centrar;
    }
    .seguinos{
        color: white;
        font-size: 1rem;
        text-align: $centrar;
        padding-left: 5%;
        padding-right: 5%;
    }
    .achicarWeb{
        width: -webkit-fill-available;
    }
    .padAcord{
        padding-left: 20px;
        padding-right: 20px;
    }
    .logoRrss{
        padding-bottom: 5%;
    }
    .table{
        font-size: 0.9rem;
    }
    }