$pad45: 45px;
$pad40: 40px;

.padCero{
    padding: 0px;
}
.padQuince{
    padding-left: $pad40;
    padding-right: $pad40;
}
.padAcord{
    @extend.padQuince;
    padding-bottom: 30px;
}
.padRece{
    @extend.padQuince;
    padding-top:40px;
}
.padReceB{
    @extend.padQuince;
    padding-top:85px;
}
.margintable{
    @extend .padQuince;
    margin-top: 90px;
}
.marginlist{
    @extend .padQuince;
    margin-top: 40px;
}